<!-- Ajouter une observation -->
<div class="modal-header">
  <h4 class="modal-title" i18n>AJOUTER UNE OBSERVATION</h4>
  <button
    type="button"
    class="close rounded-0"
    aria-label="Close"
    (click)="data.service.close('Cross click')"
  >
    &times;
  </button>
</div>

<div class="modal-body add-obs pb-0">
  <app-obs-form
    [data]="data"
    (newObservation)="onNewObservation($event)"
  ></app-obs-form>
</div>

<div class="modal-footer">
  <button
    type="submit"
    [disabled]="!form.obsForm.valid"
    class="btn btn-default btn-big btn-outline-primary rounded-0"
    (click)="committed()"
    i18n="Valider l'observation"
  >
    Valider l'observation
  </button>
</div>
