<header>
  <ngx-loading-bar [includeSpinner]="false" [color]="'#00a99db3'"></ngx-loading-bar>
  <app-topbar></app-topbar>
</header>
<main class="router-app">
  <!-- <app-sidebar></app-sidebar> -->
  <router-outlet></router-outlet>
</main>
<footer *ngIf="AppConfig.FRONTEND.DISPLAY_FOOTER" class="footer">
  <app-footer></app-footer>
</footer>
