<section id="welcome" class="row">
  <h1 [innerHTML]="platform_intro"></h1>
  <p [innerHTML]="platform_greeter"></p>
  <a
    [routerLink]="['/home']"
    fragment="programs"
    class="scroll"
    (click)="jumpTo('programs')"
  >
    <span i18n="Scrollez pour en voir plus !"
      >Scrollez pour en voir plus !</span
    >
    <img
      class="d-block"
      src="assets/scroll.svg"
      i18n-alt
      alt="Scrollez pour en voir plus !"
    />
  </a>
</section>
