.container-fluid,
.col-lg-12 {
  padding: 0px !important;
  padding-right: 0px !important;
  padding-left: 0px;
}

.container {
  margin: 0px !important;
  max-width: none !important;
}

.user {
  background: url(../../../assets/faune-mercantour.jpg) no-repeat;
  background-size: cover;
  background-position: top;
  /* position: fixed; */
  width: 100%;
  position: relative;
  min-height: 280px;
}

.user-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;
  text-align: center;
  margin-top: -160px;
  text-align: center;
  z-index: 999;
  width: 100%;
}

.user-infos img:hover,
.user-infos svg:hover,
.user-infos p:hover,
.user-infos i:hover {
  cursor: pointer;
}

.user-infos span {
  color: var(--primary-color);
  background-color: rgba(255, 255, 255, 0.212);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  width: fit-content;
  padding: 5px 30px;
  margin-bottom: 20px;
}

.user-infos img,
.user-infos svg {
  width: 200px;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
}

.user-infos p {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}

.user-infos p i {
  font-size: 23px;
}

#badges {
  margin-top: 30px;
}

#badges h3 {
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}

#badges div {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: 20px;
  background: #f3f3f3;
  border: solid 3px var(--primary-color);
}

#badges div img {
  margin: 20px 10px;
  width: 70px;
  height: 70px;
}

/* DONNEES PERSO */

.personal-data {
  margin: 20px 0px;
  display: flex;
  justify-content: space-around;
}

.personal-data,
#badges {
  min-height: inherit !important;
}

.personal-data button {
  font-size: 16px;
  background: var(--primary);
  padding: 10px 30px;
  margin: 10px 25px;
  max-height: 115px;
}

.personal-data button i {
  margin-right: 15px;
}

#badges .row {
  padding: 0px;
}

form > button {
  background: var(--primary);
  padding: 10px 30px;
  margin: 0 auto;
  max-height: 115px;
  width: fit-content;
  display: block;
}

/* MODIF DATA */

.modal-header {
  background: var(--secondary);
  background: var(--modal-header-bg-moz);
  background: var(--modal-header-bg-webkit);
  background: var(--modal-header-bg-linear);
  border-radius: 0px;
  align-items: center;
  max-height: 61px;
}

.modal-header h4 {
  color: var(--primary-color);
  text-transform: uppercase;
  margin: 0 auto;
}

.modal-header button {
  margin: 0;
}

/* @media screen and (min-width: 992px) {
  #badges .row div:nth-child(2):before {
    content: " ";
    background-color: #333;
    width: 2px;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  #badges .row div:nth-child(2):after {
    content: " ";
    background-color: #333;
    width: 2px;
    height: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
} */

@media screen and (max-width: 991px) {
  #badges .row div:nth-child(2):before {
    content: " ";
    background-color: #333;
    top: 0;
    position: absolute;
    height: 2px;
    width: 60%;
  }
  #badges .row div:nth-child(2):after {
    content: " ";
    background-color: #333;
    bottom: 0;
    position: absolute;
    height: 2px;
    width: 60%;
  }
}

@media screen and (max-width: 577px) {
  .personal-data button {
    width: 100% !important;
  }
}
