@import '../../../base.css';

:root {
  --step: calc(100vh - var(--router-outlet-offset) - var(--section-margin-bottom) - var(--fold))
}

app-observations div.container-fluid {
  padding-left: 0;
  padding-right: 0;
  background-color: var(--ternary-color);
}

#welcome {
  background: url(/assets/background.jpg) no-repeat;
  background-size: cover;
}

section#program-teaser,
section#program-content {
  margin-bottom: var(--section-margin-bottom);
  height: var(--step);
}

section#program-teaser > app-program-teaser,
section#program-content > app-program-content {
  background-color: var(--primary-color);
  width: 100%;
  align-self: center;
}

section#program-teaser > app-program-teaser > figure {
  height: var(--step);
  display: grid;
  grid-template-columns: 1fr 1fr auto 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  margin: 0 0 0;
  overflow: hidden;
}

section#program-teaser > app-program-teaser > figure > img {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
  height: 100%;
  object-fit: cover;
  min-width: 100%;
  width: auto;
}

section#program-teaser > app-program-teaser > figure figcaption {
  background: transparent;
  color: var(--primary-color);
  font-size: 1.5em;
  font-weight: bold;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
  max-height: 1.7em;
  text-transform: uppercase;
}

section#program-teaser > app-program-teaser > figure > p {
  background-color: var(--primary-color);
  color: var(--ternary);
  font-family: 'Satisfy';
  font-size: calc(100% + 1vw);
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 1.6em;
}

section#program-teaser > app-program-teaser > a.scroll {
  position: absolute;
  bottom: calc(var(--fold) - 40px);
  background-color: transparent !important;
  color: var(--primary-color);
  font-size: 14px;
  left: 50%;
  min-width: 100px;
  text-align: center;
  transform: translateX(-50%) translateY(-100%);
  width: fit-content;
}

section#program-teaser > app-program-teaser > a.scroll img {
  height: auto;
  margin: auto;
  width: 15px;
}

/* section#program-content > app-program-content > article { */
  section#program-content {
    background-color: var(--secondary-color);
  }

  section#program-content > app-program-content > article {
    font-size: calc(80% + 1vw);
    overflow: auto;
    padding: 1.2em;
    max-height: var(--step);
  }

section#program-content > app-program-content > a.btn-big {
  background-color: var(--secondary);
  border-radius: 0;
  opacity: 0.8;
  padding: 10px 30px !important;
  position: absolute;
  right: 0px;
  top: calc(2 * var(--step) - 3em);
  transform: translateX(-50%);
}

section#program-content > app-program-content > a.btn-big:hover {
  opacity: 1;
}

/* OBSERVATION / MAP */

/* MAP */

.leaflet-touch .leaflet-bar {
  border-radius: 25px;
}

.leaflet-touch .leaflet-bar a:first-child {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: var(--primary);
}

.leaflet-touch .leaflet-bar a:last-child {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: var(--primary);
}

section .observations {
  min-width: 100%;
}

.observations {
  margin: 0px;
  min-height: inherit;
  overflow: hidden;
}

section.observations#observations {
  display: grid;
  grid-template-columns: auto min-content max-content;
  grid-template-rows: 1fr;
}

#obslist {
  /* min-width: var(--obs-cell-width); */
  /* width: var(--obs-list-width); */
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

#map {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

@media screen and (max-width: 568px) {
  .toggle {
    display: none !important;
  }

  /* #map,
  app-obs-map #obsMap,
  #obslist,
  app-obs-list #list {
    flex-basis: auto;
    width: 100vw;
    height: 50vh;
  } */

  /* .map {
    height: auto;
    position: relative !important;
    left: 0% !important;
  } */
}

/* OBS LIST DISPLAY TOGGLING */

input#slide-sidebar[type='checkbox'] {
  display: none;
}

input:checked ~ #obslist {
  display: none !important;
}

input:checked ~ #map app-obs-map #obsMap {
  /* 10px scrollbar width ? */
  width: calc(100vw - var(--list-toggler-width) - 10px);
  grid-column-start: 2;
}

input:checked ~ label.toggle {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

input:not(:checked) ~ #obslist {
  width: fit-content;
}

.map {
  -moz-transition: left 0.5s ease;
  transition: left 0.5s ease;
}

/* fixme: target accuracy */
.toolbar select {
  width: 50%;
}

.toggle {
  z-index: 2;
  /* position: absolute;
  top: 0;
  bottom: 0;
  left: calc(var(--obs-list-width) + var(--list-toggler-width) + 1px); */
  background-color: var(--primary);
  width: var(--list-toggler-width);
  display: flex;
  transition: left 0.5s ease;
  align-items: center;
  overflow: hidden;
  margin-bottom: 0px;
  justify-content: center;
  grid-column-start: 2;
  grid-column-end: 3;
}

.toggle i {
  transition: all 0.5s ease;
}

input:checked ~ .toggle i {
  transform: rotate(180deg);
}

.toggle:hover {
  cursor: pointer;
}

.toggle i {
  color: var(--primary-color);
}

.observations #map,
.observations #obslist {
  padding: 0px;
}

.observations #map .btn-group {
  position: absolute;
  top: calc(2 * (100vh - var(--section-margin-bottom) - var(--router-outlet-offset) - var(--fold)));
  right: 0px;
}

.observations #map .btn-group button,
.observations #map .btn-group app-modalflow button {
  margin-left: 20px;
  opacity: 0.8;
  padding: 10px 30px;
  z-index: 999;
  color: var(--secondary-color);
}

.observations #map .btn-group button:hover {
  opacity: 1;
}

.observations #map .btn-group button:first-child {
  background-color: var(--secondary);
}

.observations #map .btn-group button:nth-child(2n) {
  background-color: var(--primary);
}

#obsMap {
  height: calc(100vh - var(--router-outlet-offset));
  /* fixme: supplementary 80px & 55px ? */
  min-width: calc(
    100vw - var(--list-toggler-width) - 80px - 40px - 36ch - 10px - 1px - 80px + 55px
  );
}

@media screen and (max-width: 768px) {
  #obsMap {
    margin: 0;
  }
}

@media screen and (max-width: 991px) {
  .btn-group .btn-big {
    opacity: 1 !important;
  }
}

.marker-cluster {
  background-image: url(/assets/marker2.svg);
}

.marker-cluster span {
  color: var(--primary);
  font-size: 0.9em;
  font-weight: bold;
  line-height: 45px;
}

.marker-cluster-small {
  background-color: rgba(254, 250, 245, 0.1);
}

.marker-cluster-small div {
  background-color: rgba(254, 250, 245, 0.1);
}

.marker-cluster-medium {
  background-color: rgba(254, 250, 245, 0.1);
}

.marker-cluster-medium div {
  background-color: rgba(254, 250, 245, 0.1);
}

.marker-cluster-large {
  background-color: rgba(254, 250, 245, 0.1);
}

.marker-cluster-large div {
  background-color: rgba(254, 250, 245, 0.1);
}

.leaflet-popup-tip,
.leaflet-popup-content-wrapper {
  border-radius: 0px !important;
}

.leaflet-popup-tip {
  color: var(--primary);
  font-style: italic;
  font-size: 13px;
}

.observation-zoom-statement-warning::after {
  position: absolute;
  color: darkred;
  display: flex;
  align-items: center;
  padding: 1em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  content: attr(data-observation-zoom-statement-warning);
  z-index: 9999;
}

/* POPUP CUSTOM */

.leaflet-popup-content-wrapper {
  padding: 0px;
}

.leaflet-popup-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  min-width: fit-content !important;
  min-height: 82px !important;
  max-height: 82px !important;
}

app-marker-popup {
  width: 100%;
  display: block;
}

/*  */
/* TODO: species@list */
/* .species:not(:last-of-type) {
  margin-bottom: 3px;
} */

.species {
  background-color: var(--primary-color);
  background-image: var(--obs-card-bg);
  background-size: 100% 100%;
  border: solid 2px;
  border-color: var(--secondary-color);
  display: flex;
  max-height: calc(80px + 2 * 2px);
  overflow: hidden;
  position: relative;
}

app-marker-popup .species {
  min-width: max-content;
  /* .leaflet-popup-content-wrapper, .leaflet-popup-tip */
  color: var(--color);
}

.species:hover {
  cursor: pointer;
  border-color: var(--primary);
}

.species:hover .hide {
  transform: translateX(0);
}

.species img {
  height: 80px;
  min-width: 80px !important;
  max-width: 80px !important;
  object-fit: cover;
}

.hide {
  align-items: center;
  background-color: var(--primary);
  color: var(--secondary-color);
  display: flex;
  height: auto;
  padding: 0px 10px;
  transform: translateX(100%);
  transition: all 0.2s ease-in-out;
}

.species .hide img {
  height: auto !important;
  max-width: 20px !important;
  min-width: 20px !important;
}

.species .infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1em;
  width: 100%;
  /* .leaflet-popup-content */
  line-height: 1.5 !important;
  /* .leaflet-container */
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
  font-size: 1rem !important;
}

.species div b {
  font-size: 1em;
  font-weight: bolder;
  margin-bottom: 0px;
}

.species div p,
.species div span {
  color: var(--primary);
  font-style: italic;
  margin-bottom: 0px;
}

.species div p {
  /* .leaflet-container .leaflet-popup-content  */
  margin-top: 0px;
  font-weight: 400;
}

/*  */

popup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

a.leaflet-control-layers-toggle {
  /* Should inherit leaflet-bar sizes */
  width: 30px !important;
  height: 30px !important;
}

.leaflet-bottom.leaflet-left,
.leaflet-bottom.leaflet-right {
  margin-bottom: 0;
}

.leaflet-bottom .leaflet-control-zoomviewer,
.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 0;
  margin-left: 0;
  max-height: fit-content;
}

.leaflet-bottom .leaflet-control-zoomviewer {
  font-size: 0.9em;
}

.leaflet-control-layers-base,
.leaflet-control-layers-overlays {
  max-height: 12em;
  overflow-y: auto;
  padding: 0.4em;
}

.modal-header {
  background: var(--secondary);
  background: var(--modal-header-bg-moz);
  background: var(--modal-header-bg-webkit);
  background: var(--modal-header-bg-linear);
  border-radius: 0px;
  align-items: center;
  max-height: 61px;
}

.modal-header h4 {
  color: var(--primary-color);
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
}

.modal-content {
  max-height: 95vh;
  overflow-y: auto;
}

.modal-body,
.modal-content {
  border-radius: 0px !important;
}

app-observations span.input-group-text {
  background-color: var(--secondary);
  color: var(--primary-color);
}

.modal-body input.ng-valid,
.modal-body input.pristine {
  border: solid 1px rgb(206, 212, 218);
}

.modal-content .row {
  margin: 0 !important;
}

.modal-content .col-lg-6,
.modal-content .col-lg-12 {
  padding: 5px 5px;
}

.modal-body input::placeholder,
.modal-body textarea::placeholder {
  color: #ccc;
}

.modal-footer button {
  background-color: var(--secondary) !important;
  color: var(--primary-color);
  border: solid 1px transparent;
  display: flex;
  margin: 0 auto;
  text-transform: uppercase;
  padding: 6px 30px;
}

.modal-footer button:hover,
.modal-footer button:active {
  background: transparent;
  color: var(--secondary);
  border: solid 1px;
  border-color: var(--secondary);
}

/* MODALES AJOUTER UNE OBS */

.add-obs .obs-images {
  overflow: hidden;
  justify-content: space-between;
  padding: 0px;
}

.obs-img {
  position: relative;
}

.obs-img span {
  font-size: 11px;
  color: #222;
  text-align: center;
  font-weight: 700;
  display: block;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  padding: 2px 5px;
}

.add-obs .form-group.btn {
  background-color: var(--primary);
  color: var(--primary-color);
  padding: 5px 10px;
  border-radius: 0px;
}

.add-obs .form-group.btn i {
  margin-right: 10px;
}

.add-obs .form-group.btn label {
  margin: 0;
}

.half #obsMap {
  height: 228px;
  overflow: hidden;
}

form .d-inline-flex {
  width: 100%;
}

/* .add-obs .col-lg-8 {
  margin: 0 auto;
  margin-bottom: 20px;
} */

.add-obs .form-group .form-group {
  margin-bottom: 0;
}

.add-obs select,
.add-obs .d-inline-flex input {
  border: solid 1px var(--primary) !important;
}

.obs-images img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin: 5px;
  opacity: 0.7;
}

.obs-img:hover img,
.obs-img.selected img {
  opacity: 1;
  cursor: pointer;
  box-shadow: 0 0 0 3px var(--secondary);
}

.scroll-img {
  display: inline-flex;
  overflow-x: auto;
}

.obs-add-img {
  margin: 5px;
  background: #dcdcdc;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  min-width: 120px;
  height: 120px;
}

.obs-add-img:hover {
  background: #a1a1a1;
}

.obs-add-img input:hover,
.obs-add-img i:hover,
.obs-add-img label:hover,
.obs-add-img:hover {
  cursor: pointer !important;
}

.obs-add-img i {
  font-size: 30px;
}

.obs-add-img input {
  height: 120px;
  width: 120px;
}

.add-obs ::-webkit-scrollbar-thumb {
  background: var(--primary);
  width: 10px;
  border: 1px solid #eee;
  margin: 5px;
  border-radius: 5px;
}

.add-obs ::-webkit-scrollbar {
  background: #eee;
  width: 10px;
  height: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

/* MODALE CONNEXION OU NON */
.modal-body {
  color: var(--color);
}

.modal-body .sign {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 40px;
}

.modal-body .sign:hover i {
  transform: translateY(-5px);
}

.modal-body .sign i {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 28px 91px -29px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 28px 91px -29px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 28px 91px -29px rgba(0, 0, 0, 0.75) !important;
  margin-bottom: 30px;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.modal-body .sign i:before {
  font-size: 60px;
  color: var(--primary-color);
}

.modal-body .sign:hover {
  cursor: pointer;
}

.modal-body .sign:first-child i {
  background: var(--primary);
}

.modal-body .sign:first-child span {
  color: var(--primary);
  font-size: 20px;
  font-weight: 600;
}

.modal-body .sign:last-child i {
  background: #e8e1db;
}

.modal-body .sign:last-child span {
  color: #a0a0a0;
  font-size: 20px;
  font-weight: 600;
}

.modal-footer span {
  margin: 0 auto;
  font-style: italic;
  border-bottom: solid 1px grey;
  color: var(--color);
}

.modal-footer span:hover {
  cursor: pointer;
}

/* MODALE OBSERVATION AJOUTEE */

.obs-added {
  text-align: center;
}

.obs-added img {
  display: block;
  width: 100%;
}

.obs-added div {
  margin: -16px;
  margin-bottom: 0px;
}

.obs-added h5 {
  color: var(--secondary);
  font-style: italic;
  font-size: 1.8em;
  margin-top: 20px;
}

.obs-added h6 {
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.obs-added p {
  font-size: 1.5em;
  color: #333;
  font-weight: 500;
  margin-bottom: 0;
}

.obs-added span {
  font-size: 1.6em;
  font-style: italic;
  color: #919191;
}

/* MODALES NEW BADGES */

.new-badge {
  text-align: center;
}

.new-badge img {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-top: 30px;
}

.new-badge div {
  margin: -16px;
  margin-bottom: 0px;
}

.new-badge h5 {
  color: var(--secondary);
  font-style: italic;
  font-size: 1.8em;
  margin-top: 20px;
}

.new-badge h6 {
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.new-badge p {
  font-size: 1.5em;
  color: #333;
  font-weight: 500;
  margin-bottom: 0;
}

@media screen and (max-width: 991px) {
  .sign {
    padding: 0px 40px 20px 40px !important;
  }

  .obs-img span,
  .obs-img img {
    opacity: 1;
  }

  .observations {
    height: inherit;
  }

  .leaflet-touch .leaflet-control-attribution {
    display: none;
  }

  .observation-zoom-statement-warning::after {
    max-height: 40vh;
  }
}

@media screen and (max-width: 640px) {
  :root {
    --obs-cell-width: calc(80px + 1em + 18ch);
  }

  #list .species > .infos > p:last-of-type > span:last-of-type {
    display: none;
  }

  .observations #map .btn-groups {
    right: 0px;
  }

  app-obs-map #obsMap {
    width: 100%;
  }
}
