<div class="container-fluid">
  <!-- LA PLATEFORME -->
  <app-greeter *ngIf="programs?.length === 1"></app-greeter>

  <!-- LE PROGRAMME -->
  <section id="program-teaser" class="row">
    <app-program-teaser [program]="program"></app-program-teaser>
  </section>
  <section id="program-content" class="row">
    <app-program-content [program]="program"></app-program-content>
  </section>
  <!-- LES OBSERVATIONS -->
  <section id="observations" class="observations row">
    <input id="slide-sidebar" type="checkbox" role="button" (click)="onListToggle()" />
    <label class="toggle" for="slide-sidebar"><i class="fa fa-chevron-left"></i></label>

    <div class="side-bar" id="obslist">
      <div class="toolbar">
        <select
          #inputSpecies
          class="form-control rounded-0"
          id="inputSpecies"
          [(ngModel)]="selectedTaxon"
          (ngModelChange)="onFilterChange()"
          i18n-aria-label aria-label="Toutes espèces"
        >
          <option [ngValue]="null" i18n>Toutes espèces</option>
          <option *ngFor="let s of taxonomy | keyvalue" [ngValue]="s.key">
            <span i18n>{{ s?.value?.nom_vern }}</span> (<i>{{ s?.value?.nom_complet }}</i
            >)
          </option>
        </select>

        <select
          #municipality
          id="municipality"
          name="municipality"
          type="text"
          class="form-control rounded-0 col-lg-6"
          [(ngModel)]="selectedMunicipality"
          (ngModelChange)="onFilterChange()"
          i18n-aria-label aria-label="Toutes communes"
        >
          <option [ngValue]="null" i18n>Toutes communes</option>
          <option *ngFor="let t of municipalities$ | async" [ngValue]="t">{{
            t?.name || '?'
          }}</option>
        </select>
      </div>
      <div class="obs-count">
        <!-- TODO: loading => recherche… -->
        <p i18n>
          {{ (filteredObservations$ | async)?.length }} { +(filteredObservations$ | async)?.length,
          plural, =0 { observation trouvée } =1 { observation trouvée !} other { observations
          trouvées !} }
        </p>
      </div>
      <app-obs-list
        #obsListRef
        [observations]="{
          type: 'FeatureCollection',
          features: filteredObservations$ | async
        }"
        [taxonomy]="taxonomy"
        (obsSelected)="obsMapRef.showPopup($event)"
      ></app-obs-list>
    </div>

    <div class="map" id="map">
      <app-obs-map
        #obsMapRef
        [observations]="{
          type: 'FeatureCollection',
          features: filteredObservations$ | async
        }"
        [program]="programFeature"
        [taxonomy]="taxonomy"
      ></app-obs-map>
      <div class="btn-groups">
        <app-modalflow [data]="context"></app-modalflow>
      </div>
    </div>
  </section>
</div>
