<figure>
  <!-- TODO: backend, add missing img alt string to program model -->
  <img
    [src]="program?.image || 'assets/ragondin.jpg'"
    [alt]="program?.short_desc"
  />
  <figcaption i18n>Le programme <span>{{ program?.title }}</span></figcaption>
  <p [innerHTML]="program?.html_short_desc"></p>
</figure>
<a
  [routerLink]=""
  fragment="program-content"
  class="scroll"
  (click)="jumpTo('program-content')"
>
  <span i18n="Scrollez pour en voir plus !"
    >Scrollez pour en voir plus !</span
  >
  <img
    class="d-block"
    src="assets/scroll.svg"
    i18n-alt
    alt="Scrollez pour en voir plus !"
  />
</a>
