app-obs-list #list {
  background-color: var(--secondary-color);
  overflow: auto;
  padding: 3px 0px 3px 0px;
}

@media screen and (min-width: 568px) {
  app-obs-list #list {
    height: var(--obs-list-height);
  }
}

@media screen and (max-width: 640px) {
  .span:last {
    display: none !;
  }
}

app-obs-list #list .species:not(:last-of-type) {
  margin-bottom: 3px;
}

#obslist .toolbar {
  display: flex;
  flex-flow: row nowrap;
}

#obslist .toolbar select,
#obslist .toolbar input {
  /* background: none; */
  border: solid 1px;
  border-color: var(--primary);
}

#obslist .dropdown .dropdown-menu {
  border-radius: 0px;
  min-width: 100%;
}

#obslist .toolbar input {
  flex-grow: 2;
  padding-left: 10px;
  padding-right: 30px;
}

#obslist .toolbar input:focus {
  border: solid 2px !important;
  border-color: var(--primary) !important;
}

#obslist .obs-count {
  /* background-color: var(--secondary); */
  background-image: linear-gradient(
    178deg,
    var(--secondary) 0%,
    var(--secondary) 60%,
    var(--secondary-gradient) 63%,
    var(--secondary-gradient)
  ) !important;
  min-height: 1.5em !important;
}

#obslist .obs-count p {
  color: var(--secondary-color);
  font-style: italic;
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

#obslist .toolbar .dropdown button {
  background: none;
  width: 100%;
}

#obslist .toolbar .dropdown button:after {
  color: var(--primary);
  position: absolute;
  right: 10px;
  top: 50%;
}

#obslist .collapse:not(.show) {
  display: block !important;
  transform: translateX(-100%);
}

@media screen and (max-width: 768px) {
  .hide {
    transform: translateX(-0%);
  }
}
