@import '../../../base.css';

app-home div.container-fluid {
  padding-left: 0;
  padding-right: 0;
  background-color: var(--ternary-color);
}

#welcome {
  background: url(/assets/background.jpg) no-repeat;
  background-size: cover;
  position: relative;
}

#welcome > h1 {
  padding-left: 50%;
  font-size: 60px;
}

#welcome > p {
  padding-left: 30%;
  /* font-size: 30px; */
  font-size: calc(100% + 1vw);
}

@media screen and (max-height: 566px) {
  #welcome p {
    display: none;
  }
}

#welcome > h1,
#welcome > p {
  font-family: 'Satisfy';
  padding-top: 1em;
  color: var(--secondary-color);
  user-select: none;
}

#welcome a.scroll {
  position: absolute;
  bottom: 0px;
  left: 50%;
  color: var(--primary-color);
  transform: translateX(-50%);
  font-size: 14px;
  background-color: transparent !important;
  width: fit-content;
  min-width: 100px;
  text-align: center;
}

#welcome .scroll img {
  width: 15px;
  height: auto;
  margin: auto;
}

/* CARDS */

/*
  ⚠ this masonry needs fixed container height ⚠
  our card body varying height value has to be clamped.
  our card width must adapt the number of columns.
  height = n rows * largest item in height
*/

:root {
  --section-programs_height_min1366: 2600px;
  --section-programs_height_max1366: 2660px;
}

#programs-cards {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
}

@media screen and (max-width: 1366px) {
  #programs-cards {
    height: var(--section-programs_height_max1366);
  }

  #programs-cards .card:nth-child(3n + 1) {
    order: 1;
  }
  #programs-cards .card:nth-child(3n + 2) {
    order: 2;
  }
  #programs-cards .card:nth-child(3n) {
    order: 3;
  }

  #programs-cards::before,
  #programs-cards::after {
    content: '';
    flex-basis: 100%;
    width: 0;
    order: 2;
  }
  #programs-cards .card {
    width: 32%;
  }
}

@media screen and (min-width: 1366px) {
  #programs-cards {
    height: var(--section-programs_height_min1366);
  }

  #programs-cards .card:nth-child(4n + 1) {
    order: 1;
  }
  #programs-cards .card:nth-child(4n + 2) {
    order: 2;
  }
  #programs-cards .card:nth-child(4n + 3) {
    order: 3;
  }
  #programs-cards .card:nth-child(4n) {
    order: 4;
  }

  #programs-cards::before,
  #programs-cards::after {
    content: '';
    flex-basis: 100%;
    width: 0;
    order: 3;
  }
  #programs-cards .card {
    width: 24.33%;
  }
}

#programs-cards .card {
  border-radius: 0px;
  margin-bottom: 2%;
  background-color: var(--primary-color);
}

#programs-cards .card h3,
#programs-cards .card p {
  padding: 0px 10px;
}

#programs-cards .card .card-content {
  flex-grow: 1;
}

#programs-cards .card .card-body {
  max-height: 180px;
  overflow-y: auto;
  margin-bottom: 5px;
}
#programs-cards .card .card-body h1,
#programs-cards .card .card-body h3 {
  font-size: 16px;
}
#programs-cards .card img {
  max-height: 200px;
  object-fit: cover;
}
#programs-cards .card h3 {
  font-size: 1.2em;
}
#programs-cards .card a {
  background: var(--primary);
  margin: 0 auto;
  margin-bottom: 10px;
  flex-grow: 0;
  text-align: center;
}

/* SLIDER */

#programs #slider {
  display: none;
}

#slider .carousel-inner,
#slider .carousel-item {
  max-height: 70vh;
}

#slider ol {
  width: 15%;
}

#slider
  ol.carousel-indicators
  li:not(.active):not(:first-child):not(:nth-child(2)):not(:nth-child(3)) {
  display: none !important;
}

#slider ol.carousel-indicators li {
  margin-top: 20px;
  width: 10px;
  height: 10px;
  border-radius: 25px;
  background: transparent;
  border: solid 1px var(--primary-color);
}

#slider .carousel-text div {
  max-height: 6em;
  height: fit-content;
  overflow-y: auto;
}

.mobile-hidden h1,
.mobile-hidden h2,
.mobile-hidden h4,
.mobile-hidden h5,
.mobile-hidden h6 {
  font-size: 1rem;
  font-weight: normal;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
  #list .infos p {
    line-height: 18px;
    font-size: 14px;
  }
  #list .infos h5 {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 1023px) {
  /* FIRST SECT */
  #welcome h1 {
    font-size: 44px !important;
    padding-left: 10% !important;
  }
  /* #welcome p {
    display: none;
  } */

  #welcome a:first-child {
    padding: 10px 20px;
    right: 50% !important;
    transform: translateX(50%) !important;
  }
  /* SCND SECT */
  /* .mobile-hidden {
    display: none;
  } */

  #slider .carousel-text {
    padding: 10px;
  }

  #slider .carousel-text a {
    font-size: 16px;
  }

  #slider {
    display: block !important;
    width: 100%;
  }

  #programs-cards {
    display: none !important;
  }
}

@media screen and (max-width: 760px) {
  #welcome a[role='button'] {
    left: 50%;
    transform: translateX(-50%);
  }

  #slider .carousel-inner {
    max-height: fit-content;
  }

  #slider .carousel-indicators {
    display: none;
  }

  #slider .carousel-control-next,
  #slider .carousel-control-prev {
    height: 260px;
  }

  #slider .carousel-text-container {
    position: relative !important;
    width: 100%;
    max-width: inherit !important;
  }

  #slider .carousel-text {
    width: 100%;
    padding: 20px;
    height: auto;
  }

  #slider .carousel-inner h2,
  .observations h2 {
    font-size: 14px;
  }

  #slider .carousel-inner h2:before,
  .observations h2:after {
    height: 14px;
  }

  #slider .carousel-item {
    max-height: fit-content !important;
  }

  #slider .carousel-text p,
  #slider .carousel-text a {
    width: 100%;
    margin: 0;
  }

  #slider .carousel-text a {
    width: fit-content;
    margin: 0 auto;
  }

  #slider .carousel-text {
    min-width: inherit !important;
  }
}

@media screen and (min-width: 760px) {
  #slider ol.carousel-indicators {
    position: absolute;
    right: 0;
    top: 50%;
    left: 12px;
    z-index: 15;
    display: flex;
    flex-direction: column !important;
    padding-left: 0;
    margin: 0;
    list-style: none;
    height: fit-content;
    transform: translateY(-50%);
  }
  #slider ol.carousel-indicators li:first-child {
    margin-top: 0px;
  }
  #slider ol.carousel-indicators li.active {
    background: var(--primary-color);
  }

  #slider .carousel-control-prev {
    bottom: 50%;
  }

  #slider .carousel-control-next {
    top: 50%;
    bottom: 0;
    left: 0;
  }

  #slider .carousel-control-prev .carousel-control-prev-icon {
    position: absolute;
    left: 10px;
    bottom: 70px;
    transform: rotate(90deg);
  }

  #slider .carousel-control-next .carousel-control-next-icon {
    position: absolute;
    left: 10px;
    top: 70px;
    transform: rotate(90deg);
  }
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-item-next,
  .active.carousel-item-right {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  .carousel-item-prev,
  .active.carousel-item-left {
    -webkit-transform: translate3d(0, +100%, 0);
    transform: translate3d(0, +100, 0);
  }
}
