<div class="container-fluid">
  <app-greeter></app-greeter>
  <!-- LES PROGRAMMES -->
  <section id="programs" class="row" *ngIf="programs?.length > 1">
    <div id="programs-cards">
      <div class="card" *ngFor="let p of programs">
        <div class="card-content">
          <a [routerLink]="['/programs', p.id_program, 'observations']">
            <img
              class="d-block w-100"
              [src]="p.image || 'assets/default_taxon.jpg'"
              alt="Programme {{ p.title }}"
            />
          </a>
          <h3>{{ p.title }}</h3>
          <p [innerHTML]="p.html_long_desc" class="card-body"></p>
        </div>
        <a
          class="btn-big"
          [routerLink]="['/programs', p.id_program, 'observations']"
          fragment="observations"
          >{{ appConfig.platform_participate[localeId] }}</a
        >
      </div>
    </div>

    <div id="slider" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li
          *ngFor="let p of programs; index as i; first as isFirst"
          data-target="#slider"
          [attr.data-slide-to]="i"
          [class.active]="isFirst"
        ></li>
      </ol>
      <h2 i18n="Les programmes du moment">Les programmes du moment</h2>
      <div class="carousel-inner">
        <div
          *ngFor="let p of programs; first as isFirst"
          [ngClass]="{ active: isFirst, 'carousel-item': true }"
        >
          <img
            class="d-block w-100"
            [src]="p.image || 'assets/default_taxon.jpg'"
            alt="Programme {{ p.title }}"
          />
          <div class="carousel-text-container">
            <div class="carousel-text" tabindex="0">
              <h3>{{ p.title }}</h3>
              <p [innerHTML]="p.html_short_desc"></p>
              <div class="mobile-hidden" [innerHTML]="p.html_long_desc"></div>
              <a
                class="btn-big"
                [routerLink]="['/programs', p.id_program, 'observations']"
                >{{ appConfig.platform_participate[localeId] }}</a
              >
            </div>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#slider"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only" i18n="ngb.carousel.previous">Précédent</span>
      </a>
      <a
        class="carousel-control-next"
        href="#slider"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only" i18n="ngb.carousel.next">Prochain</span>
      </a>
    </div>
  </section>
</div>
