:root {
  --section-margin-bottom: 20px;
}

app-greeter > section {
  height: calc(
    100vh - var(--router-outlet-offset) - var(--section-margin-bottom) -
    var(--fold)
    );
  /* section.row:not(:last-of-type) {} */
  margin-bottom: var(--section-margin-bottom);
}

app-greeter > section >:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 3%,
    rgba(0, 0, 0, 0.393) 99%,
    rgba(0, 0, 0, 0.452) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 3%,
    rgba(0, 0, 0, 0.393) 99%,
    rgba(0, 0, 0, 0.452) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 3%,
    rgba(0, 0, 0, 0.393) 99%,
    rgba(0, 0, 0, 0.452) 100%
    );
}

app-greeter > section > a[role="button"] {
  position: absolute;
  bottom: 100px;
  right: 100px;
  background-color: var(--primary);
}

section#programs,
section#program {
  width: 100%;
  position: relative;
  background-color: var(--secondary-color);
}

section#program {
  height: calc(100vh - var(--router-outlet-offset));
}

section.row {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

#slide {
  min-height: inherit !important;
  /* section.row:not(:last-of-type) {} */
  margin-bottom: var(--section-margin-bottom);
}

#slider h2 {
  position: absolute;
  top: 10px;
  left: 50px;
  z-index: 999;
  color: var(--secondary-color);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
}

#slider h2:before {
  content: ' ';
  position: absolute;
  width: 40px;
  height: 21px;
  transform: translateX(-125%);
  background-color: var(--ternary-color);
}

#slider .carousel-text-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  max-width: 80ch;
}

#slider .carousel-text {
  background-color: var(--primary-color);
  padding: 35px 20px 35px 35px;
  min-width: 450px;
  max-height: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#slider .carousel-text h3 {
  font-family: 'Satisfy';
  color: var(--ternary);
}

#slider .carousel-text > p {
  font-style: italic;
  font-size: 1em;
}

.bottom-edge-shadow {
  -webkit-box-shadow: inset 0 -3px 3px -3px #00a99d48;
  -moz-box-shadow: inset 0 -3px 3px -3px #00a99d48;
  box-shadow: inset 0 -3px 3px -3px #00a99d48;
}

.top-edge-shadow {
  -webkit-box-shadow: inset 0 3px 3px -3px #00a99d48;
  -moz-box-shadow: inset 0 3px 3px -3px #00a99d48;
  box-shadow: inset 0 3px 3px -3px #00a99d48;
}

#slider .carousel-text a {
  background-color: var(--secondary);
  width: fit-content;
  text-align: center;
  margin: 0 auto;
}

.mobile-hidden {
  /* overflow: hidden; */
  line-height: 22px;
}

.form-control {
  background-color: var(--ternary-color);
}
