<form id="obsForm" [formGroup]="obsForm" (ngSubmit)="onFormSubmit()">
  <!-- <div class="alert alert-primary rounded-0" role="alert">
    {{ obsForm.value | json }}
  </div> -->

  <div class="form-row">
    <div class="form-group col-lg-8">
      <input formControlName="id_program" type="hidden" />
      <h5 class="m-0">
        <label for="cd_nom" i18n class="m-0"
          >{ autocomplete, select, isOn {Rechercher une esp&egrave;ce} isOff {S&eacute;lectionnez
          une esp&egrave;ce}}</label
        >
      </h5>
      <!-- TAXON SELECT -->
      <div *ngIf="taxaCount < taxonSelectInputThreshold" class="d-inline-flex toolbar">
        <select formControlName="cd_nom" class="form-control rounded-0">
          <option *ngFor="let s of taxa" [value]="s.cd_nom">
            {{ s?.nom_vern }} (<i>{{ s?.nom_complet }}</i
            >)
          </option>
        </select>
      </div>
    </div>

    <!-- TAXON PICKER -->
    <div
      *ngIf="taxaCount >= taxonSelectInputThreshold && taxaCount < taxonAutocompleteInputThreshold"
      class="form-group col-lg-12 d-inline-flex obs-images"
    >
      <div class="scroll-img" [class.ng-valid]="selectedTaxon" [class.ng-invalid]="!selectedTaxon">
        <div *ngFor="let s of taxa">
          <div class="obs-img" [class.selected]="isSelectedTaxon(s)">
            <img
              [src]="!!s?.media ? s.media.thumb_url : 'assets/default_taxon.jpg'"
              [alt]="s?.nom_vern"
              (click)="onTaxonSelected(s)"
            />
            <span>{{ s?.nom_vern }}</span>
          </div>
        </div>
      </div>
    </div>

    <!-- TAXON AUTOCOMPLETE -->
    <div *ngIf="taxaCount >= taxonAutocompleteInputThreshold" class="form-group col-lg-8">
      <ng-template #rt let-r="result" let-t="term">
        <img [src]="r.icon" class="float-left mr-1 autocomplete-thumbs" />
        <ng-container *ngFor="let field of taxonAutocompleteFields; first as isFirst">
          <!-- FIXME: on input focus: show default autocomplete values -->
          <ngb-highlight [result]="r[field]" [term]="t"></ngb-highlight
          ><br *ngIf="isFirst; else elseBlock" />
          <ng-template #elseBlock> • </ng-template>
        </ng-container>
      </ng-template>
      <input
        id="cd_nom"
        type="text"
        class="form-control rounded-0"
        formControlName="cd_nom"
        i18n-placeholder
        placeholder="Nom latin ou vernaculaire ou cd_ref"
        [editable]="false"
        [ngbTypeahead]="inputAutoCompleteSearch"
        [resultTemplate]="rt"
        [inputFormatter]="inputAutoCompleteFormatter"
        (selectItem)="onTaxonSelected($event)"
      />
    </div>
    <!-- END TAXON SELECTION -->
    <div class="form-group col-lg-6 col-md-12 half">
      <h5 i18n>Informations complémentaires</h5>
      <div class="row">
        <div class="form-group col-lg-6">
          <div class="input-group">
            <label for="date" i18n>Date de l'observation</label>
            <input
              formControlName="date"
              type="date"
              class="form-control rounded-0"
              i18n-placeholder
              placeholder="jj/mm/aaaa"
              ngbDatepicker
              #d="ngbDatepicker"
              [markDisabled]="disabledDates"
              (click)="d.toggle()"
            />
          </div>
        </div>
        <div class="form-group col-lg-6">
          <label for="counting" i18n>Dénombrement</label>
          <input
            type="number"
            min="1"
            i18n-placeholder
            placeholder="Nombre"
            data-bind="value:replyNumber"
            class="form-control rounded-0"
            formControlName="count"
            id="counting"
            required
          />
        </div>
      </div>

      <div class="form-group col-lg-12">
        <label for="comment" i18n>Commentaire</label>
        <textarea
          i18n-placeholder
          placeholder="Votre commentaire"
          class="form-control rounded-0"
          rows="4"
          id="comment"
          formControlName="comment"
        ></textarea>
      </div>

      <div class="form-group col-lg-12 btn position-relative">
        <label for="photo" i18n><i class="fa fa-camera"></i>Ajouter une photo</label>
        <input
          #photo
          id="photo"
          name="photo"
          formControlName="photo"
          class="inputfile"
          type="file"
          accept="image/*"
          capture="environment"
        />
      </div>
    </div>
    <div class="form-group col-lg-6 col-md-12 half">
      <h5 i18n>Où avez-vous observé cette espèce ?</h5>
      <div class="position-relative" style="display: flex; flex-direction: row;">
        <input
          formControlName="geometry"
          type="hidden"
          id="geometry"
          name="geometry"
          #geometry
          class="col-lg-12"
        />
        <app-obs-form-map
          [coords]="data.coords"
          [input]="data.program"
          (output)="onMapClick($event)"
          class="col-lg-12"
          [class.ng-invalid]="obsForm.get('geometry')?.invalid"
          [class.ng-valid]="obsForm.get('geometry')?.valid"
        ></app-obs-form-map>
        <div class="zoom-alert" *ngIf="hasZoomAlert">
          <div class="mb-2 text-center" i18n>
            Veuillez zoomer pour localiser votre observation.<br />
            <span>(zoom min: {{ MAP_CONFIG.ZOOM_LEVEL_RELEVE }})</span>
          </div>
          <button class="btn" (click)="hasZoomAlert = false">OK</button>
        </div>
      </div>
      <p class="text-right m-0">
        <em>Cliquez sur la carte pour renseigner le lieu précis de votre observation</em>
      </p>
    </div>
    <!-- <p class="ng-invalid pl-1 ml-1">Champs manquants</p> -->
  </div>
</form>
