<div class="container">
  <span class="text-muted" i18n
    ><b>Démo</b>&nbsp;<a
      href="https://github.com/PnX-SI/GeoNature-citizen"
      title="lien GitHub"
      >GeoNature-citizen</a
    ></span
  >
</div>
